.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logged_info {
  display: flex;
  cursor: auto;
}

.header__link {
  color: white;
  margin-left: 24px;
  text-decoration: none;
  cursor: pointer;
}

.header__button {
  background-color: black;
  border: none;
  font-size: 16px;
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
